body {
   font-family: sans-serif;
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: white;
   text-align: justify;
}
.btn-primary {
	background-color: #003769;
}
.navbar {
  margin-bottom: 20px;
}
.navbar-header {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   color: #007;
   }
   
.accordion {
  margin-bottom: 20px;
}
#dialog-showinfo{
	position: fixed;
	top: 5%;
	left: 5%;
	background-color: white;
	width: 90%;
	height: 90%;
	border-radius: 5px;
	overflow:hidden;
}
#iframe-dialog-showinfo {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 90%;
}

.modal-header {
	min-height: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 15px
}
.modal-header .close {
margin-top: 15px;
}
.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.accordion-heading {
  border-bottom: 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    background-position: 0% 50%;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    color: white;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  text-shadow: black 0.3em 0.3em 0.3em;
}


/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  height: 120%;
  width: 150%;
  top: 100px;
  left: 0;
  min-width: 100%;
}
.white h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   color: white;
   font-size: 2.5em;
}

.white h2 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   color: white;
}

.white h3 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   color: #bfacac;
}
.jumbotron{
	 background: url("/images/defaultimg.jpg");
    /*background-position: 0% 50%;*/
    background-size: cover;
    height: auto;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}

.accordion-toggle {
  cursor: pointer;
}

.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}


h1, h2, h3 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   color: #007;
}

/* This is the class for the main title*/
.t {
	color: #426598;
	font-family: sans-serif;
	font-variant: small-caps;
	text-decoration: none;
}

p.box {
   background-color: #eee;
   border: 1px dashed #6487dc;
   padding: 5px;
   font-size: 1.2em;
   font-family: monospace;
} 

dt {
   font-weight: bold;
   padding: 2px;
   color: #6487dc;
}

dt a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #007;
	font-weight: bold;
}


hr {
   border: none;
   height: 1px;
   border-top: 1px solid black;
}

#main {
	font-size: 0.8em;
	clear: left;;
	color: #222;
	margin: 0px auto;
	background-color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	line-height: 1.5em;
	font-family: Tahoma, sans-serif;
}

#section {
	font-size: 0.8em;
	clear: left;
	color: #222;
	margin: 0px auto;
	background-color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	border: none;
	border-left: none;
	border-right: none;
	font-family: Tahoma, sans-serif;
}

#bottom { 
	background-color: white; 
	padding-top: 0.5em; 
	font-size: 0.9em;
	float: bottom;
	clear: bottom;
	}


#main h1
{
	letter-spacing: 0.7em;
	color: #426598;
	font-variant: small-caps;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 0.25em;
}

#main h3
{
	letter-spacing: 0.7em;
	color: #426598;
	font-variant: small-caps;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 0.25em;
}
#main h2
{
	letter-spacing: 0.7em;
	color: #426598;
	font-variant: small-caps;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 0.25em;
}

.slide_out_div {
       padding: 0px;
        width: 95%;
        height: 95%;
        background: #f7f7f7;
        border: #29216d 2px solid;
    }
