<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="rafaeldleon" >


    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">



</head>

  <body>

    <div class="container">
	{% include header.html %}
      </div><!-- /container -->

	<div>      
	{{ content }}
   </div>
      
 <div class="footer">
  {% include footer.html %}
      
    </div>
 <!-- Modal -->

<div id="dialog-showinfo" class="modal fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" padding-top=2px height=5px>&times;</button>
    <h3 id="dialog-header">Header</h3>
  </div>

  <iframe id="iframe-dialog-showinfo" frameborder="0" src=""></iframe>

</div>






    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  	 <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
   
<script type="text/javascript">

$('.showinfo').on("click", function() { // bind click event to link
				var newHref=$(this).attr('href');
				var newTitle=$(this).attr('name');
    				document.getElementById("iframe-dialog-showinfo").src = newHref;
				document.getElementById("dialog-header").innerHTML = newTitle;
				$('#dialog-showinfo').modal('toggle');
    				return false;
    			});
</script>
  
</body></html>
